* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
}

/* GENERAL */
body {
    font-family: roboto;
    background-color: #E5E5E5;
    margin: 0;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.main-content {
    width: 100%;
}

/* HEADER */
.main-header {
    display: flex;
    justify-content: space-between;
    height: 3.125rem;
    background-color: #fff;
    margin: 0;
    box-shadow: 0px 1px 0px #DBDBDB;
}

.logo-container img {
    width: 9.5rem;
    margin: 0.563rem 1.25rem;
}

.main-nav ul {
    display: flex;
    margin: 1rem 1.25rem;
}

.main-nav li {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.188rem;
    color: #989898;
}

.main-nav li:not(:last-child) {
    margin-inline-end: 50px;
}

.main-nav li:active {
    color: #FF9826;
}

/* SEARCH-BAR */
.search-bar input{
    width: calc(100% - 2.5rem);
    height: 2.625rem;
    margin: 1.875rem 1.25rem;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 5.063rem;
    padding: 0.719rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.188rem;
}

.search-bar input::placeholder {
    font-style: italic;
    color: #989898;
}

.search-bar input:active {
    border: none;
}

/* GALLERY */
.gallery {
    margin: 0 1.875rem;
}

.gallery-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap:  1.563rem;
    row-gap: 1.25rem;
}

li img {
    max-width: 210px;
    border-radius: 0.625rem;
}

/* EDITOR */
.editor {
    margin-top: 0.0625rem;
    height: calc(100vh - 3.1875rem);
    grid-template-columns: 8.9fr 5.5fr;
    grid-template-rows: 1fr;
}

.canvas-container {
    grid-template-rows: 1fr 8fr;
    background-color: #fff;
}

.canvas-container div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 7.25rem;
}

.back-to-gallery {
    background: none;
    border: none;
    font-size: 0.875rem;
    color: #989898;
    font-weight: 400;
    line-height: 1rem;
    margin-inline-start: 1.625rem;
    margin-top: 1.5rem;
}

.back-to-gallery span {
    margin-inline-end: 0.9375rem;
}

.gui {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
}

.text {
    display: grid;
}

.text-gui {
    border: 1px solid #EBEBEB;
    border-bottom: none;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    padding: 0.625rem 1rem;
    font-size: 0.75rem;
    line-height: 0.875rem;
}

.text-gui select {
    margin: 0 auto;
    border: 1px solid #EBEBEB;
    border-radius: 0.125rem;
    height: 1.375rem;
    width: 10rem;
    color: #989898;
}

.text-gui button {
    cursor: pointer;
    margin: 0;
    margin-inline-start: 1.175rem;
    font-family: Georgia;
    font-size: 1rem;
    line-height: 1.125rem;
    padding: 0;
    border:none;
    background-color: inherit;
    color: #727272;
}

.text-gui span {
    font-size: 1.125rem;
    color: #727272;
    margin: 0 1.375rem;
}

.choose-color input {
    visibility: hidden;
}


.text textarea {
    border: 1px solid #EBEBEB;
    border-top: 1px solid #DEDEDE;
    border-radius: 0 0 10px 10px;
    padding: 0.75rem;
    font-size: 1rem;
}

/* HELPERS */
.clean-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}